@import 'fonts.scss';
$base-color: #F2726F;
$bg-color: #5D62B5;
*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
    font-weight: 700;
}
body{
    font-family: 'Roboto';
    background-color: #F5F5F5;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main{
    background: url('./../img/HERO.png') no-repeat center center/cover;
    height: 100vh;
    padding: 0 210px;
    &__button{
        text-transform: uppercase;
        padding: 18px 34px;
        background-color: $base-color;
        color: #fff;
        border-radius: 9px;
        font-size: 12px;
        border: 0;
        width: max-content;
    }
} 
.header{
    padding-top: 20px;
    &__card{
        display: flex;
        align-items: start;
        font-size: 12px;
        font-weight: 700;
        gap: 10px;
    }
    &__block{
        padding-bottom: 20px;
        display: flex;
        align-items: start;
        &__phone::before{
            width: 24px;    
            display: block;
            content: url('./../img/header/icon-phone.svg');
        }
        &__clock::before{
            width: 24px;    

            display: block;
            content: url('./../img/header/icon-time.svg');
        }
    }
}
.nav{
    background-color: #fff;
    height: 60px;
    border-radius: 10px;
    padding: 0 40px;
    &__links{
        display: flex;
        gap:60px;
    }
    &__imgs{
        display: flex;
        gap:22px;
    }
    &__link{
        display: flex;
        align-items: center;
        line-height: 16px;
    }
}
.landing{
    &__wrap{
        margin-top: 130px;
    }
    &__title{
        width: 583px;
        font-size: 56px;
        line-height: 56px;
        color: #fff;
    }
    &__btn{
        display: block;
        margin-top: 80px;
    }
}
.block{
    &__div{
        gap:30px;
        font-size: 12px;
        color: #fff;
    }
}
.dog{
    width: 1034.17px;
    height: 843.47px;
    background-color: $bg-color;
    // background: url('./../img/ABOUT.png') no-repeat center /contain;
    position: absolute;
    margin-left: 210px;
    top: 720px;
    border-radius: 40px;
    color: #fff;
    &-circles{
        position: absolute;
        left: 1100px;
        top: 600px;
        z-index: 1;
    }
    &__img{
        position: relative;
        margin-top: 100px;
        margin-left: 87px;
        border-radius: 40px;
    }
    &__blob{
        position: absolute;
        bottom: -100px
    }
    &__wrap{
        padding: 100px 86px;
    }



    &__text{
        padding-top: 36px;
        letter-spacing: 0.15px;
        line-height: 24px;
        font-size: 16px;
    }
}
.alabuga-icon::before{
    content: url('./../img/alabuga.svg')
}
.alabuga-alternate::before{
    content: url('./../img/alabuga-alternate.svg')
}
.section__desc{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
}
.section__title{
    width: 583px;
    font-size: 36px;
    font-weight: 900;
    line-height: 42px;
}
.promise{
    margin-top: 900px; 
    height: 308px;
    padding: 0 210px;

    &__container{
        margin-top: 60px;
    }
    &__card{
        display: flex;
        align-items: start;
        gap: 23px;
    }
}
.video{
    margin-top: 122px;
    width: 100vw;
    height: 500px;
    background: url('./../img/video/bg.png') no-repeat center center / cover;

    &__blob{
        position: absolute;
        z-index: 2;
    }
    &__circles{
        position: absolute;
        z-index: 1;
        margin-top: 100px;
    }
    &__pup{
        z-index: 2;
        position: absolute;
        margin-top: 45px;
    }
    &__wrap{
        float:right;
        padding-right: 210px;
        padding-top: 115px;
    }
    &__block{
        flex-direction: column;
        
    }
    &__title{
        color: #fff;
        width: 411px;

    }
    &__button{
        padding: 12px 34px;

        margin-top: 42px;
        align-self: start;
    }
}
.services{
    margin: 110px 210px;
    &__wrap{
        padding-top: 40px;
    }
    &__container{
        flex-wrap: wrap;
        justify-content: start;
        gap: 24px;
    }
    &__card{
        width: max-content;
        text-align: center;
        padding: 50px 44px;
        background-color: #fff;
        border-radius: 20px;
        transition: 1s;
        &__img{
            margin-bottom: 30px;
        }

    }
    &__card:hover{
        box-shadow: 0 10px 25px gray;
        transition: 1s;
    }
    &__btn{
        display: block;
        margin: 0 auto;
        width: max-content ;
        margin-top: 60px;
        padding: 18px  18px;
    }
}
.card{
    &__title{
        font-size: 19px;
        font-weight: 900;
        line-height: 26px;
        color: $base-color;
        margin-bottom: 20px;

    }
    &__text{
        width: 235px;
        font-size: 16px;
        line-height:    x;
        color: #4B4B4B;
    }
}
.appointment{
    background: url('./../img/APPOINTMENT.png') no-repeat center / cover;
    color: #fff;

    &__button{
        align-self: flex-end;
    }
    &__wrap{
        display: flex;
        padding-top: 130px;
        padding-left: 210px;
        padding-bottom: 210px;
    }
    &__form-container{
        width: 585px;
        height: 550px;

        background-color: $bg-color;
        padding: 76px 57px;
        border-radius: 40px;
    }
    &__stat{
        padding: 166px 111px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 46px;
        // justify-content: space-between; 
    }
    &__button{
        float: right;
    }
    &__form{
        display: flex;
        margin-top: 48px;
        flex-direction: column;
        gap: 22px;
        fieldset{
            display: flex;
            gap: 22px;
            border: 0;
        }
        &__input{
            width: 100%;
            background-color: inherit;
            border: 1px solid white;
            border-radius: 10px;
            height: 48px;
        }
        textarea{
            background-color: inherit;
            border: 1px solid white;
            height: 180px;
            border-radius: 10px;

        }
        textarea::placeholder{
            padding: 17px 23px;
            color: #fff;
            font-size: 16px;
            font-weight: 400;
        }
        &__input::placeholder{
            padding-left: 23px;
            color: #fff;
        }
        &__title{
            text-align: center;
            font-size: 36px;
            line-height: 42px;
            font-weight: 900;    
        }

    }
}
.stat{
    &__title{
        font-size: 30px;
        line-height: 36px;
        font-weight: 900;
    }
    &__num {
        font-size: 96px;
        line-height: 56px;
    }
    &__served{
        font-size: 19px;
    }
}
.gallery{
    width: 100%;
    position: absolute;
    color: #fff;
    margin-top: -100px;

    &__wrap{
        background-color: $bg-color;
        margin: 0 210px;
        padding: 100px 87px;
        border-radius: 40px;
        height: 550px;

    }
    &__nav{
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }
    &__link{
        width: 100%;
        text-align: center;
        padding: 10px 0;
        border-bottom: 1px solid white;
    }
    &__img{
        margin-top: 100px;
        position: absolute  ;
    }


}

.customers{

    margin: 0 210px;
    margin-top: 900px;
    margin-bottom: 210px;
    display: flex;
    justify-content: space-between;

    &__title{
        width: 328px;
    }
    &__cards{
        display: flex;
        gap: 24px;
    }
    &__info{
        margin-top: 36px;
        display: flex;
        align-items: center;
        gap: 17px;

    }
    &__review{
        text-align: left;
    }
    &__name{
        font-size: 16px;
    }
}

.impact{
    color: #fff;
    height: 608px;
    background: url('./../img/impact/IMPACT.png') no-repeat center / cover;

    &__wrap{
        padding: 112px 220px;
    }
    &__img{
        position: absolute; 
        right: 210px;
        margin-top: -120px;
    }
    &__card{
        display: flex;
        align-items: center;
    }
    &__container{
        margin-top: 79px;
    }
    &__num{
        font-size: 36px;
    }
    &__stat{
        margin-left: 11px;
        font-weight: 900;
    }
    &__appointment{
        height: 150px;
        position: absolute;
        background-color: $bg-color;
        border-radius: 20px;
        margin-top: 100px;
        width: calc(100% - 440px);
    }
    &__block{
        align-items: center;
        padding: 43px 70px;
    }
}
.footer{ 
    color: #4B4B4B;
    font-size: 14px;
    &__info{
        width: 235px;
    }
    &__contacts{
        width: 235px;
        display: flex;
        flex-direction: column;
    }
    &__block{

        margin: 160px 210px 0 210px;
        padding-bottom: 100px;
    }
    &__links{
        flex-direction: column;
        &__block{
            display: flex;
            margin-top: 20px;
            gap: 100px;
            div{
                display: flex;
                flex-direction: column;
                gap: 15px;
                
            }
        }
    }
    &__copyright{
        color: #fff;
        height: 60px;
        background-color: $bg-color;
        padding: 0 180px;
        align-items: center;
    }
    &__places{
        margin-top: 26px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        &__link{
            display: flex;
            font-weight: 400;

        }
    }
}
.info{
    &__socials{
        display: flex;
        margin-top: 33px;
        width: 150px;
        justify-content: space-between;
    }
    &__text{
        margin-top: 20px;
        width: 235px;

    }
}

.copyright__links{
    gap: 10px;  
}
.selected{
    border-bottom: 4px solid white;
}

.purple{
    color: #5D62B5;
}
.black{
    color: #000;
}
.arrow::after{
    content: url('./../img/arrow.svg')
}
.place::before{
    content: url('./../img/footer/place_24px.png');
    margin-right: 18px;
}
.phone::before{
    content: url('./../img/footer/smartphone_24px.png');
    margin-right: 18px;
}
.mail::before{
    content: url('./../img/footer/email_24px.png');
    margin-right: 18px;
}
.clock::before{
    content: url('./../img/footer/timer_24px.png');
    margin-right: 18px;
}