@import 'fonts.scss';
$base-color: #F2726F;
*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
    font-weight: 700;
}
body{
    font-family: 'Roboto';
    background-color: #F5F5F5;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main{
    background: url('./../img/HERO.png') no-repeat center center/cover;
    height: 100vh;
    padding: 0 210px;
    &__button{
        text-transform: uppercase;
        padding: 18px 34px;
        background-color: $base-color;
        color: #fff;
        border-radius: 9px;
        font-size: 12px;
    }
} 
.header{
    padding-top: 20px;
    &__block{
        padding-bottom: 20px;
        &__clock::before{
            content: url('./../img/icon-phone.svg');
            position: absolute;
        }
    }
}
.nav{
    background-color: #fff;
    height: 60px;
    border-radius: 10px;
    padding: 0 40px;
    &__links{
        display: flex;
        gap:60px;
    }
    &__imgs{
        display: flex;
        gap:22px;
    }
    &__link{
        display: flex;
        align-items: center;
        line-height: 16px;
    }
}
.landing{
    &__wrap{
        margin-top: 130px;
    }
    &__title{
        width: 583px;
        font-size: 56px;
        line-height: 56px;
        color: #fff;
    }
    &__btn{
        display: block;
        width: max-content;
        margin-top: 80px;
    }
}
.block{
    &__div{
        gap:30px;
        font-size: 12px;
        color: #fff;
    }
}
.dog{
    width: 1034.17px;
    height: 843.47px;
    background-color: #5D62B5;
    // background: url('./../img/ABOUT.png') no-repeat center /contain;
    position: absolute;
    margin-left: 210px;
    top: 720px;
    border-radius: 40px;
    color: #fff;
    &-circles{
        position: absolute;
        left: 1100px;
        top: 600px;
        z-index: 1;
    }
    &__img{
        position: relative;
        margin-top: 100px;
        margin-left: 87px;
        border-radius: 40px;
    }
    &__blob{
        position: absolute;
        bottom: -100px
    }
    &__wrap{
        padding: 100px 86px;
    }



    &__text{
        padding-top: 36px;
        letter-spacing: 0.15px;
        line-height: 24px;
        font-size: 16px;
    }
}
.alabuga-icon::before{
    content: url('./../img/alabuga.svg')
}
.alabuga-alternate::before{
    content: url('./../img/alabuga-alternate.svg')
}
.section__desc{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
}
.section__title{
    width: 583px;
    font-size: 36px;
    font-weight: 900;
    line-height: 42px;
}
.promise{
    margin-top: 900px; 
    height: 308px;
    padding: 0 210px;

    &__container{
        margin-top: 60px;
    }
    &__card{
        display: flex;
        align-items: start;
        gap: 23px;
    }
}
.video{
    margin-top: 122px;
    width: 100vw;
    height: 500px;
    background: url('./../img/VIDEO.png') no-repeat center center / cover;

    &__wrap{
        float:right;
        padding-right: 210px;
        padding-top: 115px;
    }
    &__block{
        flex-direction: column;
        
    }
    &__title{
        color: #fff;
        width: 411px;

    }
    &__button{
        padding: 12px 34px;

        margin-top: 42px;
        align-self: start;
    }
}
.services{
    margin: 110px 210px;
    &__wrap{
        padding-top: 40px;
    }
    &__container{
        flex-wrap: wrap;
        justify-content: start;
        gap: 24px;
    }
    &__card{
        width: max-content;
        text-align: center;
        padding: 50px 44px;
        background-color: #fff;
        border-radius: 20px;
        transition: 1s;
        &__img{
            margin-bottom: 30px;
        }

    }
    &__card:hover{
        box-shadow: 0 10px 25px gray;
        transition: 1s;
    }
    &__btn{
        display: block;
        margin: 0 auto;
        width: max-content ;
        margin-top: 60px;
        padding: 18px  18px;
    }
}
.card{
    &__title{
        font-size: 19px;
        font-weight: 900;
        line-height: 26px;
        color: $base-color;
        margin-bottom: 20px;

    }
    &__text{
        width: 235px;
        font-size: 16px;
        line-height: 24px;
        color: #4B4B4B;
    }
}
.gallery{
    color: #fff;
    background-color: #5D62B5;
}
.purple{
    color: #5D62B5;
}
.black{
    color: #000;
}
.arrow::after{
    content: url('./../img/arrow.svg')
}