@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto-Black.ttf");
  font-weight: 900;
}
* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}

body {
  font-family: "Roboto";
  background-color: #F5F5F5;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  background: url("./../img/HERO.png") no-repeat center center/cover;
  height: 100vh;
  padding: 0 210px;
}
.main__button {
  text-transform: uppercase;
  padding: 18px 34px;
  background-color: #F2726F;
  color: #fff;
  border-radius: 9px;
  font-size: 12px;
  border: 0;
  width: -moz-max-content;
  width: max-content;
}

.header {
  padding-top: 20px;
}
.header__block {
  padding-bottom: 20px;
}
.header__block__clock::before {
  content: url("./../img/icon-phone.svg");
  position: absolute;
}

.nav {
  background-color: #fff;
  height: 60px;
  border-radius: 10px;
  padding: 0 40px;
}
.nav__links {
  display: flex;
  gap: 60px;
}
.nav__imgs {
  display: flex;
  gap: 22px;
}
.nav__link {
  display: flex;
  align-items: center;
  line-height: 16px;
}

.landing__wrap {
  margin-top: 130px;
}
.landing__title {
  width: 583px;
  font-size: 56px;
  line-height: 56px;
  color: #fff;
}
.landing__btn {
  display: block;
  margin-top: 80px;
}

.block__div {
  gap: 30px;
  font-size: 12px;
  color: #fff;
}

.dog {
  width: 1034.17px;
  height: 843.47px;
  background-color: #5D62B5;
  position: absolute;
  margin-left: 210px;
  top: 720px;
  border-radius: 40px;
  color: #fff;
}
.dog-circles {
  position: absolute;
  left: 1100px;
  top: 600px;
  z-index: 1;
}
.dog__img {
  position: relative;
  margin-top: 100px;
  margin-left: 87px;
  border-radius: 40px;
}
.dog__blob {
  position: absolute;
  bottom: -100px;
}
.dog__wrap {
  padding: 100px 86px;
}
.dog__text {
  padding-top: 36px;
  letter-spacing: 0.15px;
  line-height: 24px;
  font-size: 16px;
}

.alabuga-icon::before {
  content: url("./../img/alabuga.svg");
}

.alabuga-alternate::before {
  content: url("./../img/alabuga-alternate.svg");
}

.section__desc {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
}

.section__title {
  width: 583px;
  font-size: 36px;
  font-weight: 900;
  line-height: 42px;
}

.promise {
  margin-top: 900px;
  height: 308px;
  padding: 0 210px;
}
.promise__container {
  margin-top: 60px;
}
.promise__card {
  display: flex;
  align-items: start;
  gap: 23px;
}

.video {
  margin-top: 122px;
  width: 100vw;
  height: 500px;
  background: url("./../img/VIDEO.png") no-repeat center center/cover;
}
.video__wrap {
  float: right;
  padding-right: 210px;
  padding-top: 115px;
}
.video__block {
  flex-direction: column;
}
.video__title {
  color: #fff;
  width: 411px;
}
.video__button {
  padding: 12px 34px;
  margin-top: 42px;
  align-self: start;
}

.services {
  margin: 110px 210px;
}
.services__wrap {
  padding-top: 40px;
}
.services__container {
  flex-wrap: wrap;
  justify-content: start;
  gap: 24px;
}
.services__card {
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  padding: 50px 44px;
  background-color: #fff;
  border-radius: 20px;
  transition: 1s;
}
.services__card__img {
  margin-bottom: 30px;
}
.services__card:hover {
  box-shadow: 0 10px 25px gray;
  transition: 1s;
}
.services__btn {
  display: block;
  margin: 0 auto;
  width: -moz-max-content;
  width: max-content;
  margin-top: 60px;
  padding: 18px 18px;
}

.card__title {
  font-size: 19px;
  font-weight: 900;
  line-height: 26px;
  color: #F2726F;
  margin-bottom: 20px;
}
.card__text {
  width: 235px;
  font-size: 16px;
  line-height: x;
  color: #4B4B4B;
}

.appointment {
  background: url("./../img/APPOINTMENT.png") no-repeat center/cover;
  color: #fff;
}
.appointment__wrap {
  display: flex;
  padding-top: 130px;
  padding-left: 210px;
  padding-bottom: 210px;
}
.appointment__form-container {
  width: 585px;
  height: 550px;
  background-color: #5D62B5;
  padding: 76px 57px;
  border-radius: 40px;
}
.appointment__stat {
  padding: 166px 111px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 46px;
}
.appointment__button {
  float: right;
}
.appointment__form {
  display: flex;
  margin-top: 48px;
  flex-direction: column;
  gap: 22px;
}
.appointment__form fieldset {
  display: flex;
  gap: 22px;
  border: 0;
}
.appointment__form__input {
  width: 100%;
  background-color: inherit;
  border: 1px solid white;
  border-radius: 10px;
  height: 48px;
}
.appointment__form textarea {
  background-color: inherit;
  border: 1px solid white;
  height: 180px;
  border-radius: 10px;
}
.appointment__form textarea::-moz-placeholder {
  padding: 17px 23px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.appointment__form textarea::placeholder {
  padding: 17px 23px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.appointment__form__input::-moz-placeholder {
  padding-left: 23px;
  color: #fff;
}
.appointment__form__input::placeholder {
  padding-left: 23px;
  color: #fff;
}
.appointment__form__title {
  text-align: center;
  font-size: 36px;
  line-height: 42px;
  font-weight: 900;
}

.stat__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 900;
}
.stat__num {
  font-size: 96px;
  line-height: 56px;
}
.stat__served {
  font-size: 19px;
}

.gallery {
  width: 100%;
  position: absolute;
  color: #fff;
  margin-top: -100px;
}
.gallery__wrap {
  background-color: #5D62B5;
  margin: 0 210px;
  padding: 100px 87px;
  border-radius: 40px;
  height: 550px;
}
.gallery__nav {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.gallery__link {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid white;
}
.gallery__img {
  margin-top: 100px;
  position: absolute;
}

.customers {
  margin: 0 210px;
  margin-top: 900px;
  margin-bottom: 210px;
  display: flex;
  justify-content: space-between;
}
.customers__title {
  width: 328px;
}
.customers__cards {
  display: flex;
  gap: 24px;
}
.customers__info {
  margin-top: 36px;
  display: flex;
  align-items: center;
  gap: 17px;
}
.customers__review {
  text-align: left;
}
.customers__name {
  font-size: 16px;
}

.impact {
  color: #fff;
  height: 608px;
  background: url("./../img/impact/IMPACT.png") no-repeat center/cover;
}
.impact__wrap {
  padding: 112px 220px;
}
.impact__img {
  position: absolute;
  right: 210px;
  margin-top: -120px;
}
.impact__card {
  display: flex;
  align-items: center;
}
.impact__container {
  margin-top: 79px;
}
.impact__num {
  font-size: 36px;
}
.impact__stat {
  margin-left: 11px;
  font-weight: 900;
}
.impact__appointment {
  height: 150px;
  position: absolute;
  background-color: #5D62B5;
  border-radius: 20px;
  margin-top: 100px;
  width: calc(100% - 440px);
}
.impact__block {
  align-items: center;
  padding: 43px 70px;
}

.selected {
  border-bottom: 4px solid white;
}

.purple {
  color: #5D62B5;
}

.black {
  color: #000;
}

.arrow::after {
  content: url("./../img/arrow.svg");
}